.task-list {
  .task-item {
    border-bottom: 1px solid lightgrey;
    &:hover {
      background-color: lightgrey;
    }
    .task-link {
      color: unset;
      text-decoration: unset;
      display: flex;
      align-items: center;
    }
    .task-icon {
      min-width: initial;
      margin-right: 20px;
      & > div {
        border-radius: 0;
        max-width: 24px;
        max-height: 24px;
      }
    }
  }
}
