.task-list {
  .task-item {
    border-bottom: 1px solid lightgrey;
    &:hover {
      background-color: lightgrey;
    }
    .task-link {
      color: unset;
      text-decoration: unset;
      display: flex;
      align-items: flex-start;
    }
    .task-icon {
      border-radius: 0;
    }
  }
}
